ol li {
  background-color: aqua;
  margin: 5px;
  font-size: 15px;
  width: 10vw;
  padding-top: 3px;
}

#timer {
    height: 15px;
}

#answerList:hover {
cursor: pointer;
}

#is-right {
    font-style: italic;
}